.show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #00b0ff!important;
    border-color: #00b0ff;
    border-radius: 0;
}
.dropdown-menu.show {
  // left: -10px!important;
}
.drop-btn{
    width: 100px;
    font-size: .75rem;
}

// .my-modal{ 
//     width: 1000px  ;  /* Occupy the 90% of the screen width */
//     height: 600px;
// } 