.header-bg {
  background: linear-gradient(to left, #3a7bd5, #3a6073) !important;
}

.offer-area {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-attachment: inherit;
  background-position: center;
  background-color: #3a78c9;
  overflow: inherit;
}

body {
  background-color: #f1fbfd;
  // overflow: hidden;
}

.offer-area .offer-shape img:nth-child(1) {
  bottom: 0;
  left: 0;
  position: fixed;
}

.offer-area .offer-shape img {
  position: absolute;
  z-index: -1;

}

.offer-area .offer-shape img:nth-child(2) {
  top: 0;
  right: 0;
}

.offer-area .offer-shape img {
  position: absolute;
  z-index: -1;
}

.login_main_div {
  height: 93.4vh;
  overflow: hidden;
}

.registration_main_div{
  height: 93.4vh;
}

@media (max-width: 767.98px) {
  .registration_main_div {
 
  }
  main.registrationShow.registration_main_div {
    height: auto;
  }
}